.index_box{
    width: 100%;
}
body{
    background-color: #f7f7f7;
}


.header{
    background-color: #333;
    padding: 40px 20px;
}
.head{
    width:70px;
    height:70px;
    border-radius: 50%;
    float: left;

}
.head img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.header h1{
    float: left;
    line-height: 70px;
    font-size:1.1em;
    color: #ffffff;
    margin-left: 15px;
}


.order_box{
    background-color: #ffffff;
}
.order_box a{
    color: #666666;
    width: 33%;
    text-align: center;
    font-size: 0.8em;
    float: left;
    padding:2.0em 0;
    border-bottom: 1px solid #d8d8d8;
}
.ordericon{
    color: #737373;
    font-size: 2.0em!important;
}
.borderstyle{
    border-right: 1px solid #d8d8d8;
}



.white{
    margin-bottom: 55px;
}