.pic{
    width: 100%;
    margin-top: 30px;
}

.titlebox{
    width:78%;
    float: right;
}
.title{
    font-size: 14pt;
    color: rgb(118, 146, 60);
    padding: 30px 0 20px 0;
}
.line{
    width: 100%;
    background-color: #6aa84f;
    height: 2px;
}
.menu{
    float: left;
    width: 182px;
    margin-top: 30px;
}
.mtitle{
    width: 100%;
    line-height: 43px;
    background-color: #6aa84f;
    font-size: 14pt;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
}
.ltitle:hover{
    background-color:#38761d;
}
.ltitle{
    width: 100%;
    line-height: 43px;
    background-color: #6aa84f;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
}

#content {
    width: 78%;
    float: right;
    margin-top: 10px;
}
.li{
    float: left;
    width: 180px;
    height: 182px;
    margin-right: 30px;
}
.li1{
    float: left;
    width: 180px;
    height: 182px;
    margin-right: 30px;
}
#content>li>img{
    height: 132px;
    margin: 0 auto;
}

#content>li>h1{
    color: #666666;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    margin-top: 10px;
}

.pagination {
    list-style:none;
    margin:10px 0 0 0;
    padding:0;
    float: right;
}
.pagination li{
    float:left;
    margin:3px;
}
.pagination li a{
    display:block;
    padding:0 8px;
    color:#555;
    border:1px solid rgba(0,0,0,0.1);
    background-color: #F9F9F9;
    text-decoration:none;
    border-radius: 2px;
    font-size: 11px;
    line-height: 22px;
    font-weight: 600;
}
.pagination li a.active {
    border:1px solid #2489ce;
}
.pagination li a.inactive {
    background-color:#eee;
    color:#777;
    border:1px solid #ccc;
}