<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="top">
    <div class="top-nav">

        <p>hi，zhanng，欢迎来到北大荒生态食品！</p>
        <p>退出</p>
        <ul class="top_ul">
            <li><a href="?m=Home&amp;c=Cart&amp;a=index">购物车</a></li>
            <li class="line">|</li>
            <li><a href="?m=Home&amp;c=Member&amp;a=order_list">我的订单</a></li>
            <li class="line">|</li>
            <li><a href="?m=Home&amp;c=Member&amp;a=login">登录</a></li>
            <li class="line">|</li>
            <li><a href="?m=Home&amp;c=Member&amp;a=regist">注册</a></li>
        </ul>
    </div>
</div>


</body>
</html>