
body{
    background-color: #f7f7f7;
}


.success_box{
    width: 100%;

}
.arrow{
    color:#00833f ;
    text-align: center;
    margin-top: 40%;
}
.successicon{
    font-size: 5em!important;
}
.success_box h1{
    font-size: 1.3em;
    text-align: center;
    margin-top: 15px;
}
.back{
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
    color:#00833f ;
}