.index_box{
    width: 100%;
}
body{
    background-color: #f7f7f7;
}


.header{
    background-color: #ffffff;
    border-bottom:  1px solid #d9d9d9;
    padding:13px 0 ;
}
.header p{
    font-size: 1em;
    color: #333333;
    text-align: center;
}
.arrow{
    position: absolute;
    top:9px;
    left: 4%;
}
.arrowicon{
    font-size: 1.3em!important;
    vertical-align: -5px;
}




.login_box{
    width:90%;
    margin: 30px auto 0 auto;
    position: relative;
    height: 98px;
}
.tel, .password{
    width: 90%;
    padding-left: 10%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    position: absolute;
    background-color: #ffffff;
    top:0;
    left: 0;
    z-index: 1;
    outline:0 ;
    font-size:0.85em;
    line-height: 40px;
}
.tel:hover, .password:hover{
    border:1px solid #00833f ;
    z-index: 2;
}
.password{
    border-radius: 0 0 5px 5px;
    top:43px;
    left: 0;
}
.telicon{
    position: absolute;
    left: 8px;
    top: 10px;
    color: #a0a0a0;
    font-size: 1.3em!important;
    z-index: 3;
}
.passwordicon{
    position: absolute;
    left: 8px;
    top: 56px;
    color: #a0a0a0;
    font-size: 1.1em!important;
    z-index: 3;
}



.verifcode{
    width: 90%;
    margin:10px auto 0 auto;
}
.code{
    float: left;
    width: 45%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #ffffff;
    font-size:0.85em;
    line-height: 40px;
    outline:0 ;
    padding-left: 10px;
}
.codebtn{
    width: 45%;
    float: right;
    height: 42px;
    border-radius:3px ;
    background-color: #00a650;
    outline:0 ;
    font-size:1em;
    text-align: center;
    color: #ffffff;
    border: none;
}
.codebtn:hover{
    background-color: #00bf5c;
}



.btn_box{
    width: 90%;
    margin: 0 auto;
}
.btn_box input{
    width: 100%;
    font-size: 1em;
    height: 40px;
    border-radius: 3px;
    border: 0;
    color: #ffffff;
    outline: 0;
}
.loginbtn{
    background-color:#00a650;
    margin: 30px 0 0;
}
.loginbtn:hover{
    background-color:#00bf5c ;
}
.am-disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .45;
    box-shadow: none;
}